@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 80%;
    margin: auto;
    background-color: #0A0A0C;
    color: #fff;
}

/* body {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; 
    flex: 1;
    background-color: #0A0A0C;
    color: #fff;

    background-image: url('./images/purple-bg.png');
    */
    /* background-size: cover;
    background-position: center top;
    background-repeat: repeat; 
} */

/* .nav-container {
    font-family: monospace;
    background-color: #3c0b8b;
    /* display: flex;
    padding-left: 8em;
    padding-top: 2vh;
    padding-bottom: 2vh; 
}

.navbar {
    /* max-width: 700px; */
    /**padding: 2vh;
    
} */

.card-codepens {
    background-color: #22212700;
    border-radius: 10px;
    padding: 10px;
}

.codepens-container {
    margin-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
}

.pen-item {
    margin-bottom: 20px;
}

p {
    font-family: monospace;
    font-size: 15px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 801px) {

    .foto-perfil {
        width: 10rem;
        margin-right: 2rem;
        margin-left: 1rem;
    }

    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        border-style: solid;
        border-color: rgb(64, 61, 84);
        border-width: 2px;
    }

    .container-projects {
        border-style: solid;
        border-color: rgb(64, 61, 84);
        border-width: 2px;
        margin-bottom: 20px;
        /* margin-top: 20px; */
        padding: 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        background-color: #222127d4;
        width: 40em;
    }

    .links {
        display: flex;
        align-items: center;
        justify-content: left;

    }

    .links .link-btn {
        width: 60%;
        height: 60px;
    }

    .link-btn-codepen {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: monospace;
        font-weight: 800;
        text-decoration: none;
        color: #fff;
        background-color: #3c0b8b;
        border-radius: 10px;
        border-style: solid;
        border-color: #360a7c;
        margin-bottom: 10px;
        width: 6em;
        height: 60px;
        margin-left: 10px;
        text-align: center;
    }
}

.container-projects h1 {
    
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

@media only screen and (max-width: 800px) {

    .nome {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .botao-tema {
        margin-top: 2vh;
    }

    .foto-perfil {
        width: 10rem;
        margin-top: 2vh;
    }

    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 20em;
        border-style: solid;
        border-color: rgb(64, 61, 84);
        border-width: 2px;
    }

    .card h1 {
        margin-top: 20px;
        text-align: center;
    }

    .descricao p {
        text-align: center;
        
    }

    .imagem-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
    }

    /* .imagem-container img {
        margin: 0px;
    } */


    .container-projects {
        
        margin-bottom: 20px;
        margin-top: 20px;
        padding: 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        background-color: #222127;
        width: 20em;
        border-style: solid;
        border-color: rgb(64, 61, 84);
        border-width: 2px;
    }

    .links {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .links .link-btn {
        width: 80%;
        height: 60px;
    }

    .link-btn-codepen {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: monospace;
        font-weight: 800;
        text-decoration: none;
        color: #fff;
        background-color: #3c0b8b;
        border-radius: 10px;
        border-style: solid;
        border-color: #360a7c;
        margin-bottom: 10px;
        width: 6em;
        height: 60px;
        margin-left: 10px;
        text-align: center;
    }

    .link-btn {
        display: flex;
        justify-content: center;
        align-items: center;
/*        width: 30em;
        height: 5vh;
*/
        font-family: monospace;
        font-weight: 800;
        text-decoration: none;
        color: #fff;
        background-color: #3c0b8b;
        border-radius: 10px;
        border-style: solid;
        border-color: #360a7c;
        margin-bottom: 10px;
        
    }

    .redes {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 4vh;
    }


}

.card {
    padding: 2vh 2vh;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222127cb;
    border-radius: 10px;
    max-width: 700px;
}

.imagem-container {
    margin-right: 40px;
}

.imagem-container img {
    width: 12em;
    height: 12.5em;
}

.descricao {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.descricao h1 {
    font-family: sans-serif;
    margin-bottom: 20px;
}

.links {
    display: flex;
    justify-content: center;
    
}

/*.link-btn:first-child { margin-top: 10px;}*/


.link-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 2rem;
    font-family: monospace;
    font-weight: 800;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #3c0b8b;
    border-radius: 10px;
    border-style: solid;
    border-color: #360a7c;
    margin-bottom: 10px;
    
}


.link-btn:hover {
    background-color: #360a7c;
    border-style: solid;
    border-color: #360a7c;
    background-color: #0A0A0C;
}

/* .card:hover {
    border-style: solid;
    border-color: slateblue;
    border-width: 2px;
} */

/* .container-projects:hover {
    border-style: solid;
    border-color: slateblue;
    border-width: 2px;
} */

.link-btn-codepen:hover {
    background-color: #360a7c;
    border-style: solid;
    border-color: #360a7c;
    background-color: #0A0A0C;
}

.redes {
    margin-top: 3vh;
    display: flex;
    flex-direction: row-reverse;
}

.redes a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2vh;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-family: monospace;
    font-weight: bold;
}

.redes a:hover {
    color: #3c0b8b;
    background-color: #0A0A0C;
}

.redes img {
    max-width: 20px;
}

.redes label {
    display: flex;
    flex-direction: column;
}

.nome {
    display: flex;
    justify-content: space-around;
}

.tema {
    display: flex;
}


.botao-tema {
    background-color: rgb(74, 54, 208);
    border-radius: 10px;
    font-weight: bold;
    color: white;
    border-style: none;
    padding: 1vh;
    cursor: pointer;
}

.botao-tema:hover {
    opacity: 80%;
}

.light {
    background-color: rgba(232, 231, 231, 0.563);
    color: black;
}

.card-container {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-image: url('./images/purple-bg.png');
}

