/* Inicio css profile */

.card-profile-2 {
    /* margin-right: 1rem; */
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background-color: #1B1A1F;
    border-radius: 10px;
    margin-bottom: 2vh;
    border-style: solid;
    border-color: rgb(48, 47, 54);
    border-width: 2px;
    max-width: 30rem;/*
    max-height: 25rem; */
    justify-content: center;
    align-items: center;
}

.card-profile-img-2 {
    width: 10rem;
    height: 10rem;
}

.card-profile-descricao-2 {
    
}

.profile-nome {
    margin-top: 2rem;
    font-size: 2rem;
    text-align: center;
}

.card-profile-descricao-2 p {
    font-size: 10pt;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}


/* Inicio css cards */

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 3rem;
}

/* .prof-tec-container {
    margin-right: 1rem;
} */

.card-2-link {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #ffff;
    text-align: left;
}

.card-2 {
    display: flex;
    background-color: #1B1A1F;
    border-radius: 10px;
    margin-bottom: 2vh;
    border-style: solid;
    border-color: rgb(48, 47, 54);
    border-width: 2px;
    margin: 1rem;
}
.card-2:hover {   
    border-style: solid;
    border-color: slateblue;
    border-width: 2px;
}

.card-2-nome {
    font-size: 24px;
    margin-bottom: 2vh;
}

.card-2-descricao {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.texto-descricao {
    font-family: 'Roboto', sans-serif;
    color: #ffff    ;
}

/* Inicio css card com tecnologias */

.card-tecnologias {
    /* margin-right: 1rem; */
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    background-color: #1B1A1F;
    border-radius: 10px;
    margin-bottom: 2vh;
    border-style: solid;
    border-color: rgb(48, 47, 54);
    border-width: 2px;
    max-width: 30rem;
    /*max-height: 25rem;*/
    justify-content: left;
    align-items: left;
}

.tec-item {
    margin: 0.5rem;
    display: flex;
    align-items: center;
}

.tec-item img {
    max-width: 3.5rem;
    max-height: 3.5rem;
}

.tec-nome {
    font-weight: bold;
    margin-left: 1rem;
}

.add-tec-link {
    text-decoration: none;
    display: block;
    padding: 1rem;
    border-radius: 10px;
    margin-top: 1rem;
    background-color: #2C2C2C;
    color: #fff;
    font-weight: bold;
}

.add-tec-link:hover {
    opacity: 80%;
}

/* inicio css lisat de projetos */

.container-projects-2 {
    border-style: solid;
    border-color: rgb(64, 61, 84);
    border-width: 2px;
    margin-bottom: 20px;
    /* margin-top: 20px; */
    /* padding: 20px; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #222127d4;
    width: 100%;
}                   

/* Inicio dos media query*/

@media only screen and (min-width: 1171px){
    .container-projects-2 {
        margin-left: 1rem;
    }
}

@media only screen and (max-width: 1170px) {
    main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-profile-2 {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 100%;
    }

    .card-tecnologias {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        flex-direction: row;
        max-width: 100%;
    }

}

@media only screen and (max-width: 620px) {

    body {
        max-width: 95%;
        margin: auto;
    }

    main {
        margin-top: 1rem;
    }

    .profile-nome {
        margin-top: 2rem;
    }

    .card-2 {
        flex-direction: column;
    }

    .img-project {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .card-2-descricao {
        flex-direction: column;
    }

}
