*,
body {
    font-family: monospace;
}

body {
    font-family: "Roboto Mono", monospace;
    min-height: 400px;
    background-image: url("https://www.alura.com.br/assets/img/imersoes/dev-2021/dia-1-conversor-de-moedas.png");
    background-color: #000000;
    background-size: 100vh;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.container-logo {
    display: flex;
    flex-direction: row-reverse;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario-cotacao {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    border-radius: 5px;
    align-items: center;
    padding: 2rem;
    background-color: #323138;
}

.selects-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.selects-container select {
    height: 3rem;
    border-radius: 5px;
    cursor: pointer;
}

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    border-style: none;
    margin-bottom: 30px;
}

.troca-icon {
    width: 3rem;
    margin-left: 3vw;
    margin-right: 3vw;
    cursor: pointer;
}

.valor-container label {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
}

.valor-container label input {
    height: 3rem;
    width: 80%;
    border-radius: 5px;
    padding-left: 20px;
    margin-left: 1rem;
    margin-right: 2rem;
}

input:focus {
    outline: none !important;
    border: solid 2px rgb(50, 55, 221);
    box-shadow: 0 0 10px #323138;
}

.resultado {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
}

.resultado p {
    background-color: #323138;
    padding: 3vh;
    border-radius: 10px;
}

form button {
    height: 3.3rem;
    width: 80%;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(105, 100, 214);
    font-weight: bold;
    color: #fff;
    font-family: monospace;
}

@media only screen and (max-width: 600px) {
    .container-logo img {
        width: 3rem;
    }
    .container img {
        width: 20rem;
    }
    .selects-container,
    .valor-container {
        flex-direction: column;
    }
    .formulario-cotacao {
        margin-left: 5%;
        margin-right: 5%;
        width: 80%;
    }
    .troca-icon {
        margin-bottom: 25px;
    }
    .valor-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    label {
        width: 100%;
    }
    .valor-container label {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .valor-container label input {
        width: 20rem;
        height: 3.3rem;
        text-align: center;
    }
    .valor-container label button {
        width: 22rem;
    }
}